.markedAsDone {
    text-decoration: line-through;
    color: #ccc;
}

.btn {
    margin-right: 5px;
}

.tableActions {
    width: 120px;
    text-align: center;
}

.align-buttons {
    text-align: center;
}